[Unit]
Description=UK House Prices Monthly Data Update
Requires=docker.service
After=docker.service

[Service]
Type=oneshot
User=picxi
WorkingDirectory=/home/picxi/Desktop/projects/picxibox/uk-house-prices
ExecStart=/usr/bin/docker-compose run --rm ingest python ingest.py --mode monthly
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target